<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
		<section class="copyright py-4 text-center text-white" th:fragment="layout-copyright">
		<div class="container">
			<small> Secretaria de Tecnologia da
				Informação       
			   <script type="text/javascript">document.write(new Date().getUTCFullYear());</script>
           - Educárius 1.0</small>
		</div>
		<div class="container">
			<small></small>
		</div>
	</section>
	
</html>