<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:plano="http://ti.guaira.pr.gov.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
	
<head>
<title>Pesquisa de escolas</title>
</head>
<section layout:fragment="conteudo">
	<div class="container fundoForm">  
		<div class="page-header">
				<div class="nomeForm tituloFundo">		
						<div class="row">
							<div class="col-xs-9">
								<h2>Pesquisa - Kit Alimentação</h2>
							</div>				
							<div class="col-xs-3">
									<div class="btnPesq">
										<a   th:href="@{/colegios/nova}">							
										<i class="fa  fa-fw  fa-file-o ">&nbsp;&nbsp;Novo</i> 
										</a>
									</div>
							</div>
						</div>		
				</div>

	
	<div class="container-fluid form">
		<form method="GET" th:object="${colegioFilter}">
			<div class="row">
				<div class="form-group  col-sm-12">
					<label class="control-label" for="nome">Nome</label> <input
						type="text" class="form-control" id="nome" th:field="*{nome}" />
				</div>
			</div>
			
			<div class="form-group text-right">			
				<button type="submit" class="btn  btn-primary ">
				<i class="fa  fa-fw  fa-search "></i>Pesquisar
				</button>
			</div>				
		</form>
		<div class="table-responsive  py-tabela-simples">
			<table class="table  table-hover">
				<thead class="nomeForm tituloFundo">
					<tr>
						<th>
							<plano:order page="${pagina}" field="nome" text="Nome"/>
						</th>
						<th class="table-hospedagem-col-acoes  text-center">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="colegio : ${pagina.conteudo}">
					
						<td th:text="${colegio.nome}"></td>
						<td class="text-center">
							<a class="textoTabela js-tooltip" title="Editar" 
							 th:href="@{/colegios/{codigo}(codigo=${colegio.codigo})}"> 
								<i class="fa  fa-fw  fa-pencil"></i>
							</a>
							<a class="textoTabela js-tooltip  js-exclusao-btn" title="Excluir" href="#"
							th:attr="data-codigo=${colegio.codigo}, data-url=@{/colegios/{codigo}(codigo=${colegio.codigo})}, 
							data-objeto=${colegio.nome}">
								<i class="fa  fa-fw  fa-trash "></i>
							</a>
						</td>
					</tr>

				<tr th:if="${pagina.vazia}">
						<td colspan="4">Nenhuma escola encontrada</td>
					</tr>
				</tbody>
			</table>
		</div>
			<plano:pagination page="${pagina}"/>
	</div></div></div>
</section>
</html>