<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:plano="http://ti.guaira.pr.gov.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
	
<head>
<title>Lançar Pedido de Kit Alimentação</title>
</head>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 ">
					<h1>LANÇAR PEDIDO - KIT ALIMENTAÇÃO ESCOLAR 
<!-- 					 Referente ao mês:[[${proximoMEs}]] -->
					</h1>
				</div>

			</div>
		</div>
	</div>
	
	<div class="container-fluid"> 
	<div class="col-sm-12">	
			<h1><a class="btn  btn-link  btn-xs  js-tooltip  js-pedido-btn label label-success col-sm-12" title="Lançar" href="#"
			th:attr=" data-url=@{/pedidos/gravaPedido}, data-objeto= ${proximoMEs}">
				Efetuar Pedido <i class="glyphicon glyphicon-ok"></i>  							
 			</a></h1>
 	</div>		
 			<div class="col-sm-12">
 			<div class="table-responsive  py-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th class="table-hospedagem-col-acoes textoTabela">Data da emissão do pedido</th>
<!-- 						<th> -->
<!-- 							<plano:order page="${pagina}" field="nome" text="Quantidade"/> -->
<!-- 						</th> -->
<!-- 						<th> -->
<!-- 							<plano:order page="${pagina}" field="nome" text="Referende "/> -->
<!-- 						</th> -->
						<th  class="table-hospedagem-col-acoes  text-center textoTabela">Ação</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pedido : ${pagina.conteudo}">
					
						<td class="textoTabela" th:text="${#temporals.format(pedido.dataPedido, 'dd/MM/yyyy')}"></td>
<!-- 						<td> [[${totalPedidos}]]</td> -->
<!-- 						<td> [[${proximoMEs}]]</td> -->
						<td class="text-center">
						<a class="btn  btn-dark  btn-xs  js-tooltip  js-carterinha-btn textoTabela" title="Pedido"
                             th:href="@{/relatorios/pedido/{data}(data=${pedido.dataPedido})}" target="_blank">
                          	<i class="fa  fa-fw  fa-file-pdf-o"></i>
                        </a> 
<!-- 							<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar"  -->
<!-- 							 th:href="@{/colegios/{codigo}(codigo=${colegio.codigo})}">  -->
<!-- 								<i class="glyphicon glyphicon-pencil"></i> -->
<!-- 							</a> -->
							<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn textoTabela" title="Excluir" href="#"
							th:attr="data-codigo=${pedido.codigo}, data-url=@{/pedidos/{codigo}(codigo=${pedido.codigo})}, 
							data-objeto=${#temporals.format(pedido.dataPedido, 'dd/MM/yyyy')}">
								<i class="fa  fa-fw  fa-times"></i>
							</a>
						</td>
					</tr>

				<tr th:if="${pagina.vazia}">
						<td colspan="4">Nenhuma escola encontrada</td>
					</tr>
				</tbody>
			</table>
		</div>		
			<plano:pagination page="${pagina}"/> 			
	</div>	
	</div> 
</section>
</html>