

body .feature-box-icon{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.fa{
	font-size: 25px;
}
.logofundo{
	background-image: url("/images/logo_municipio_preto.png");
	background-size: 100%;   
    background-repeat:no-repeat;    
    width:300px;
    height:300px;    
    
}
.alturaFundo{
	 padding-top: 10%;
	 display: flex;
	
	justify-content: center;
	align-items: center
}
.altura {    
  margin-top: 30px; 
  padding-top: 8px;
}


.logo-principal > a > img{
	height: 60px;
	width: 150px;
}

.icons {
	font-size: 2em; 
	color: Tomato;
}

.address-onde-dormir{
	margin-right: 10px;
}

.email-onde-dormir{
	margin-right: 10px;
}

.telefone-onde-dormir{
	margin-right: 4px;
}

.site-onde-dormir{
	margin-right: 1px;
}

