<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:portal="http://ti.guaira.pr.gov.br">
	
<body>
<aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
	<div class="aw-layout-sidebar__content">
    	<nav class="aw-menu  js-menu">
      		<ul class="aw-menu__list">

        		<li class="aw-menu__item" portal:menu="@{/principal}">
          			<a th:href="@{/principal}"><i class="fa  fa-fw  fa-home"></i><span>Home</span></a>
        		</li>        		
        		<li class="aw-menu__item">
          			<a href="#">
            			<i class="fa  fa-fw  fa-database"></i><span>Cadastros</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>

          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" portal:menu="@{/materias.*}">
			            	<a sec:authorize ="hasRole('CADASTRAR_MATERIA')" th:href="@{/materias}">Matérias </a>
			            				            	
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" portal:menu="@{/series.*}">
			            	<a sec:authorize ="hasRole('CADASTRAR_MATERIA')" th:href="@{/series}">Séries</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" portal:menu="@{/semanas.*}">
			            	<a sec:authorize ="hasRole('CADASTRAR_MATERIA')" th:href="@{/semanas}">Semanas</a>
			            </li>
			            <li th:if="${#authentication.principal.usuario.colegio != null}" class="aw-menu__item  aw-menu__item--link" portal:menu="@{/kitAlimentacao.*}">
			            	<a sec:authorize ="hasRole('COLEGIO')" th:href="@{/kitAlimentacao}">
			            	<i class="fa  fa-fw  fa-cutlery"></i>Kit Alimentação</a>
			            </li>
			            <li th:if="${#authentication.principal.usuario.colegio == null}" class="aw-menu__item  aw-menu__item--link" portal:menu="@{/kitAlimentacao.*}">
			            	<a sec:authorize ="hasRole('COLEGIO')" th:href="@{/kitAlimentacao/pesquisa}">
			            	<i class="fa  fa-fw  fa-cutlery"></i>Kit Alimentação</a>
			            </li>
			            <li th:if="${#authentication.principal.usuario.colegio == null}" class="aw-menu__item  aw-menu__item--link" portal:menu="@{/colegios.*}">
			            	<a sec:authorize ="hasRole('COLEGIO')" th:href="@{/colegios}">
			            	<i class="fa  fa-fw  fa-graduation-cap"></i>Colégios</a>
			            </li>
			            <li th:if="${#authentication.principal.usuario.colegio == null}" class="aw-menu__item  aw-menu__item--link" portal:menu="@{/serieColegio.*}">
			            	<a sec:authorize ="hasRole('COLEGIO')" th:href="@{/serieColegio}">
			            	<i class="fa  fa-fw  fa-bars"></i>Series</a>
			            </li>

<!-- 			            MENU EDUCAÇÃO ESPECIAL -->	
						 <div class="aw-layout-sidebar__content">
			    	        <nav class="aw-menu  js-menu">         
						       <ul class="aw-menu__list">     
							        <li class="aw-menu__item"  sec:authorize ="hasRole('EDUCACAO_ESPECIAL')">
					          			<a href="#">
					            			<i class="fa  fa-fw  fa-calendar"></i><span>Eventos</span>
					            			<i class="aw-menu__navigation-icon  fa"></i>
					          			</a>
					
					          			<ul class="aw-menu__list  aw-menu__list--sublist">			            
								            <li th:if="${#authentication.principal.usuario.colegio == null}" class="aw-menu__item  aw-menu__item--link" portal:menu="@{/eventos.*}">
								            	<a sec:authorize ="hasRole('EDUCACAO_ESPECIAL')" th:href="@{/eventos/nova}">
								            	<i class="fa  fa-fw  fa-file-o"></i>Novo</a>
								            </li>
								            <li th:if="${#authentication.principal.usuario.colegio == null}" class="aw-menu__item  aw-menu__item--link" portal:menu="@{/palestras.*}">
								            	<a sec:authorize ="hasRole('EDUCACAO_ESPECIAL')" th:href="@{/eventos}">
								            	<i class="fa  fa-fw  fa-list-ul"></i>Listar</a>
								            </li>
					          			</ul>
				        		   </li>
						       </ul>     
						    </nav>
			    	        <nav class="aw-menu  js-menu">         
						       <ul class="aw-menu__list">     
							        <li class="aw-menu__item"  sec:authorize ="hasRole('EDUCACAO_ESPECIAL')">
					          			<a href="#">
					            			<i class="fa  fa-fw  fa-th-list "></i><span>Palestra</span>
					            			<i class="aw-menu__navigation-icon  fa"></i>
					          			</a>					
					          			<ul class="aw-menu__list  aw-menu__list--sublist">			            
								            <li th:if="${#authentication.principal.usuario.colegio == null}" class="aw-menu__item  aw-menu__item--link" portal:menu="@{/eventos.*}">
								            	<a sec:authorize ="hasRole('EDUCACAO_ESPECIAL')" th:href="@{/palestras/nova}">
								            	<i class="fa  fa-fw  fa-file-o"></i>Novo</a>
								            </li>
								            <li th:if="${#authentication.principal.usuario.colegio == null}" class="aw-menu__item  aw-menu__item--link" portal:menu="@{/palestras.*}">
								            	<a sec:authorize ="hasRole('EDUCACAO_ESPECIAL')" th:href="@{/palestras}">
								            	<i class="fa  fa-fw  fa-list-ul"></i>Listar</a>
								            </li>
					          			</ul>
				        		   </li>
						       </ul>     
						  </nav>
					</div>               
<!-- 			FIM MENU EDUCAÇÃO ESPECIAL             -->		
          			</ul>
        		</li>
        		<li class="aw-menu__item" th:if="${#authentication.principal.usuario.colegio == null}">
          			<a sec:authorize ="hasRole('COLEGIO')"  href="#">
            			<i class="fa  fa-fw  fa-file-text-o "></i><span>Pedidos</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
          			<ul class="aw-menu__list  aw-menu__list--sublist">
        		         <li  class="aw-menu__item  aw-menu__item--link">
			            	<a sec:authorize ="hasRole('COLEGIO')" th:href="@{/pedidos}">
			            	<i class="fa  fa-fw  fa-file-o"></i>Gerar Pedido</a>
			            </li>
<!-- 			            <li class="aw-menu__item  aw-menu__item--link"> -->
<!-- 			            	<a sec:authorize ="hasRole('COLEGIO')" th:href="@{/relatorios}">Lista Assinatura</a> -->
<!-- 			            </li> -->
          			</ul>
        		</li>
        		<li class="aw-menu__item" th:if="${#authentication.principal.usuario.colegio != null}">
          			<a sec:authorize ="hasRole('COLEGIO')"  href="#">
            			<i class="fa  fa-fw  fa-file-text-o"></i><span>Recibo</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
          			<ul class="aw-menu__list  aw-menu__list--sublist">
        		         <li th:if="${#authentication.principal.usuario.colegio != null}"  class="aw-menu__item  aw-menu__item--link">
			            	<a sec:authorize ="hasRole('COLEGIO')" th:href="@{/relatorios/recibo}">
			            	<i class="fa  fa-fw  fa-file-o"></i>Gerar Recibo</a>
			            </li>
			          </ul>			      
			    </li>     
        		<li class="aw-menu__item">
          			<a sec:authorize ="hasRole('COLEGIO')"  href="#">
            			<i class="fa  fa-fw  fa-file-pdf-o"></i><span>Relatorios</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
          			<ul class="aw-menu__list  aw-menu__list--sublist">
        		         <li th:if="${#authentication.principal.usuario.colegio == null}"  class="aw-menu__item  aw-menu__item--link">
			            	<a sec:authorize ="hasRole('COLEGIO')"target="_blank" th:href="@{/relatorios/todosAtivoPedido}">
			            	<i class="fa  fa-fw  fa-file-text"></i>Todos Ativos</a>
			            </li>
			             
                        <li th:if="${#authentication.principal.usuario.colegio != null}"  class="aw-menu__item  aw-menu__item--link">
			            	<a sec:authorize ="hasRole('COLEGIO')" th:href="@{/relatorios/todosAtivo}">
			            	<i class="fa  fa-fw  fa-file-text"></i>Todos Ativos</a>
			            </li>
          			</ul>
        		</li>
        		<li class="aw-menu__item">
          			<a sec:authorize ="hasRole('CADASTRAR_MATERIA')" href="#">
            			<i class="fa  fa-fw  fa-book"></i><span>Aulas</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>

          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" portal:menu="@{/aulas/nova}">
			            	<a th:href="@{/aulas/nova}">Lançar</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" portal:menu="@{/aulas.*}">
			            	<a th:href="@{/aulas}">Pesquisar</a>
			            </li>
          			</ul>
        		</li>

        		<li class="aw-menu__item">
          			<a sec:authorize ="hasRole('CADASTRAR_MATERIA')" href="#">
            			<i class="fa  fa-fw  fa-user"></i><span>Usuário</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>

          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" portal:menu="@{/usuarios.*}">
			            	<a th:href="@{/usuarios}">Pesquisar</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" portal:menu="@{/usuarios.*}">
			            	<a th:href="@{/usuarios/novo}">Cadastrar</a>
			            </li>
          			</ul>
        		</li>
      		</ul>
    	</nav>
	</div>
</aside>
</body>
</html>