<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:plano="http://ti.guaira.pr.gov.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
	
<head>
<title>Pesquisa de eventos</title>
</head>

<section layout:fragment="conteudo">	
<div class="container fundoForm">
	<div class="nomeForm tituloFundo">		
			<div class="row">
				<div class="col-xs-9">
					<h1>Pesquisa eventos</h1>
				</div>	
				
				<div class="col-xs-3">
						<div class="btnPesq">
							<a   th:href="@{/eventos/nova}">							
							<i class="fa  fa-fw  fa-file-o ">&nbsp;&nbsp;Novo</i> 
							</a>
						</div>
				</div>
			</div>		
	</div>
	
	
		<form method="GET" th:object="${eventoFilter}"autocomplete="off" class="form">
			<div class="row  bw-required">
					<div class="col-sm-12  form-group" plano:classforerror="nome">
						<label for="nome" class="control-label" >Nome</label> <input
							id="nome" type="text" class="form-control" th:field="*{nome}"  autocomplete="true"/>
					</div>
			</div>
			<div class="row">
			<div class="col-sm-6  form-group" plano:classforerror="dataInicial" >
					<label for="dataInicial" class="control-label">Data Início</label> 
					<input id="dataInicial" type="text" class="form-control  js-date" th:field="*{dataInicial}" />
				</div>
				<div class="col-sm-6  form-group" plano:classforerror="dataFinal">
					<label for="dataFinal" class="control-label">Data Final</label> 
					<input id="dataFinal" type="text" class="form-control  js-date" th:field="*{dataFinal}" />
				</div>
			</div>
			<div class="form-group text-right">			
				<button type="submit" class="btn  btn-primary ">
				<i class="fa  fa-fw  fa-search "></i>Pesquisar
				</button>
			</div>	
		</form>
		<div class="table-responsive  py-tabela-simples">
			<table class="table  table-hover">
				<thead class="nomeForm tituloFundo">
					<tr>
					    <th class="table-cervejas-col-foto"><i class="fa  fa-fw  fa-camera"></i> Folder </th>
						<th><i class="fa  fa-fw fa-image"></i>Evento</th>
						<th><i class="fa  fa-fw fa-calendar"></i>Data inicio</th>
						<th><i class="fa  fa-fw fa-calendar"></i>Data final</th>
						<th class="table-hospedagem-col-acoes  text-center"><i class="fa  fa-fw fa-recycle"></i>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="evento : ${pagina.conteudo}">
					    <td class="text-center">
							<img th:src="${evento.urlThumbnailFoto}" class="img-responsive"/>
						</td>
					    <td th:text="${evento.nome}"></td>
						<td th:text="${#temporals.format(evento.dataInicial, 'dd/MM/yyyy')}"></td>
						<td th:text="${#temporals.format(evento.dataFinal, 'dd/MM/yyyy')}"></td>
						<td class="text-center">
							<a class="textoTabela js-tooltip" title="Editar" 
							 th:href="@{/eventos/{codigo}(codigo=${evento.codigo})}"> 
								<i class="fa  fa-fw  fa-pencil "></i>
							</a>
							<a class="textoTabela  js-exclusao-btn js-tooltip" title="Excluir" href="#"
							th:attr="data-codigo=${evento.codigo}, data-url=@{/eventos/{codigo}(codigo=${evento.codigo})}, 
 							data-objeto=${evento.nome}"> 
								<i class="fa  fa-fw  fa-trash "></i>
							</a>
						</td>
					</tr>

				     <tr th:if="${pagina.vazia}">
						<td colspan="12">Nenhuma semana encontrada</td>
					</tr>
				</tbody>
			</table>
		</div>
			<plano:pagination page="${pagina}"/>
	</div>
</section>

</html>