<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:plano="http://ti.guaira.pr.gov.br">

<head>
<title>Cadastro de séries Colégios</title>
</head>
<section layout:fragment="conteudo">
	<div class="container fundoForm">  
		<!--     <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Cadastro de Kit Alimentação</h2>  -->
		    <div class="page-header">
				<div class="nomeForm tituloFundo">		
					<div class="row">
						<div class="col-xs-9 ">
							<h2 th:if="${serieColegio.nova}">Cadastro séries</h2> 
							<h2 class="TituloForm" th:unless="${serieColegio.nova}" th:text="|Edição - ${serieColegio.nome}|"></h2>
						</div>
						<div class="col-xs-3">
							<div class="btnPesq">
									<a   th:href="@{/serieColegio}">							
									<i class="fa  fa-fw  fa-search">&nbsp;&nbsp;Pesquisar</i> 
									</a>
								</div>
						</div>
					</div>
				</div>
		</div>


	<div class="container-fluid">

		<form method="POST" th:object="${serieColegio}" class="form-vertical  js-form-loading"
			th:action="${serieColegio.nova} ? @{/serieColegio/nova} : @{/serieColegio/{codigo}(codigo=${serieColegio.codigo})}">

			<input type="hidden" th:field="*{codigo}" />
			<div layout:insert="fragments/Mensagem"></div>
			<div layout:insert="fragments/MensagemErro"></div>

			<div class="row  bw-required">
				<div class="col-sm-12  form-group" plano:classforerror="nome">
					<label for="nome" class="control-label">Nome</label> <input
						id="nome" type="text" class="form-control" th:field="*{nome}" />
				</div>
			</div>
			<div class="form-group text-right">
				<button class="btn  btn-primary  js-btn-submit" type="submit">Salvar</button>
			</div>
		</form>
	</div>
</div>
</section>

</html>