<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutEducacaoEspecial}"
	xmlns:plano="http://ti.guaira.pr.gov.br">

<section layout:fragment="conteudo">

  <section class="page-section portfolio" id="semanas">
 	<div class="container">
 		<div class="row">
	     	<nav aria-label="breadcrumb" class="col-xs-12 col-sm-12 col-md-6">
 				<ol class="breadcrumb nav-breadcrumb">
    				<li class="breadcrumb-item"><a th:href="@{/}">Início</a></li>
    				<li class="breadcrumb-item active" aria-current="page">Eventos</li>
  				</ol>
			</nav>
		</div>
	</div>
 <!-- Portfolio Section Heading -->
<!--       <h2 class="text-center text-uppercase text-secondary mb-4">Clique na semana desejada e bons estudos</h2> -->
      <div class="container">
      	<div class="row">
      		
			
			<div class="col-md-4 col-lg-4">
					<h6 class="text-center">Semana do Autismo</h6>
					<div class="portfolio-item mx-auto">
						<a th:href="@{/educacaoespecial/eventos}">
							<div
								class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
								<div
									class="portfolio-item-caption-content text-center text-white">
									<i class="fas fa-plus fa-3x"></i>
								</div>
							</div>
						</a> <img class="img-fluid" src="img/educacao_especial/autismo.jpeg" alt="">
					</div>
				</div>

				<div class="col-md-4 col-lg-4">
					<h6 class="text-center">Dia internacional da Síndrome de Down</h6>
					<div class="portfolio-item mx-auto">
						<a th:href="@{/educacaoespecial/eventos01}">
							<div
								class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
								<div
									class="portfolio-item-caption-content text-center text-white">
									<i class="fas fa-plus fa-3x"></i>
								</div>
							</div>
						</a> <img class="img-fluid" src="img/educacao_especial/sindrome.jpg" alt="">
					</div>
				</div>
       
      	</div>
      </div>
      
	</section>
</section>

</html>
